html
  head
    title Edit - WorkAtRemote.com
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/js/selectize.js")
    link(rel="stylesheet", href="/css/selectize.default.css")
    style.
      .form-control{
        width: 100%;
      }
      body {
        font-family: 'Open Sans', sans-serif;
      }
  body
    a(href=`${job.link}` target="_blank") Job Link
    form(action="" method="post")
      table(width="100%")
        tr
          td Site
          td
            input#site(type="text" name="site" value=`${job.site}`)
        tr
          td
            label(for="title") Title
          td
            input(class="form-control" type="text" name="title" value=job.title)
        tr
        tr
          td
            label(for="salary") Salary
          td
            input(class="form-control" type="text" name="salary" value=`${job.salary ? job.salary : ''}`)
        tr
          td
            label(for="experience") Experience
          td
            input(class="form-control" type="text" name="experience" value=`${job.experience ? job.experience : ''}`)
        tr
          td
              label(for="degree") Degree
          td
            input(class="form-control" type="text" name="degree" value=`${job.degree ? job.degree : ''}`)
        tr
          td
            label(for="company") Company
          td
            input#company(type="text" name="company" value=`${job.company}`)
        tr
          td
            label(for="twitter") Twitter
          td
            input#twitter(type="text" name="twitter" value=`${job.twitter != undefined ? job.twitter : ''}`)
        tr
          td
            label(for="country") Country
          td
            input#country(type="text" class="form-control" name="country" value=`${job.country}`)
        tr
          td
            label(for="timezone") Timezone
          td
            input#timezone(type="text" class="form-control" name="timezone" value=`${job.timezone != undefined ? job.timezone : ''}`)
        tr
          td
            label(for="languages") Languages
          td
            input#languages(class="form-control" type="text" name="languages" value=`${job.languages.join(',')}`)
        tr
          td
            label(for="frameworks") Frameworks
          td
            input#frameworks(class="form-control" type="text" name="frameworks" value=`${job.frameworks.join(',')}`)
        tr
          td
            label(for="platforms") Platforms
          td
            input#platforms(class="form-control" type="text" name="platforms" value=`${job.platforms.join(',')}`)
        tr
          td
            label(for="tools") Tools
          td
            input#tools(class="form-control" type="text" name="tools" value=`${job.tools.join(',')}`)
        tr
          td
            label(for="databases") Databases
          td
            input#databases(class="form-control" type="text" name="databases" value=`${job.databases.join(',')}`)
        tr
          td
            label(for="tags") Tags
          td
            input#tags(type="text" class="form-control" name="tags" value=`${job.tags.join(',')}`)
        tr
          td
          td
            input(type="submit" name="submit" value="Save Job")