extends layout

block content
  section#naukriContainer.container
    include mixins/job
    each job in jobs
      +job(job)
  - 
    const jobsSchema = jobs.map(job => ({
      "@context": "http://schema.org",
      "@type": "JobPosting",
      "description": `${striptags(job.description)}`,
      "employmentType": "Full-time",
      "industry": "Startups",
      "jobLocation": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressCountry": "Remote",
          "addressRegion": "Remote",
          "streetAddress": "Remote",
          "postalCode": "Remote",
          "addressLocality": "Remote"
        }
      },
       "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "USD",
        "value": "50000",
        "unitCode": "ANN"
      },
       "title": `${job.title}`,
       "image": `${job.imageUrl ? job.imageUrl : siteImage}`,
       "workHours": "Flexible",
       "validThrough": `${moment(job.publishedDate).add(3, "M").format()}`,
       "datePosted": `${moment(job.publishedDate).format()}`,
       "hiringOrganization": {
        "@type": "Organization",
        "name": `${job.company}`,
        "sameAs": `${job.twitter}`,
        "logo": `${job.imageUrl ? job.imageUrl : siteImage}`,
        "remote": "True",
        "remote-friendly": "True"
      }
    }))
  script(type="application/ld+json").
    !{JSON.stringify(jobsSchema)}