extends layout

block content
  script.
    {
      "@context": "http://schema.org",
      "@type": "JobPosting",
      "datePosted": "#{moment(job.publishedDate).format()}",
      "description": "#{striptags(job.description)}",
      "employmentType": "Full-time",
      "industry": "Startups",
      "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "USD",
        "value": "50000",
        "unitCode": "ANN"
      },
      "jobLocation": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressCountry": "Remote",
          "addressRegion": "Remote",
          "streetAddress": "Remote",
          "postalCode": "Remote",
          "addressLocality": "Remote"
        }
      },
      "title": "#{job.title}",
      "image": "#{job.imageUrl ? job.imageUrl : siteImage}",
      "workHours": "Flexible",
      "validThrough": "#{moment(job.publishedDate).add(3, 'M').format()}",
      "hiringOrganization": {
        "@type": "Organization",
        "name": "#{job.company}"
        "sameAs": "#{job.twitter ? job.twitter : ''}",
        "logo": "#{job.imageUrl ? job.imageUrl : siteImage}",
        "remote": "True",
        "remote-friendly": "True"
      }
    }
  article(class="job")
    section(class="job-text")
      header(class="job-header")
        | #{job.company}
        div(class="job-head")
          h3(class="job-title") #{job.title}
          time(datetime="" class="job-date") #{moment(job.publishedDate).fromNow()}
        div(class="job-head-bottom")
          ul
            if(job.salary)
              li Salary: 
                b(class="job-salary") #{job.salary}
            if(job.timezone)
              li Timezone: 
                b #{job.timezone}
            if(job.experience)
              li Exp: 
                b #{job.experience}
            if(job.degree)
              li Degree: 
                b #{job.degree}
            if(job.country)
              li(class="job-specific-country") #{job.country}
      div(class="job-toolset")
        if(job.languages.length > 0)
          div(class="flex-child")
            h4 Languages
            div(class="job-keywords")
              each language in job.languages
                a(class="job-keyword") #{language}
        if(job.frameworks.length > 0)
          div(class="flex-child")
            h4 Frameworks
            div(class="job-keywords")
              each framework in job.frameworks
                a(class="job-keyword") #{framework}
        if(job.platforms.length > 0)
          div(class="flex-child")
            h4 Platforms
            div(class="job-keywords")
              each platform in job.platforms
                a(class="job-keyword") #{platform}
        if(job.tools.length > 0)
          div(class="flex-child")
            h4 Tools
            div(class="job-keywords")
              each tool in job.tools
                a(class="job-keyword") #{tool}
        if(job.databases.length > 0)
          div(class="flex-child")
            h4 Databases
            div(class="job-keywords")
              each database in job.databases
                a(class="job-keyword") #{database}
      div(class="job-description-detail")
        if(job.site == 'weworkremotely.com')
          | !{markdown.toHTML(job.description)}
        else
          | !{job.description}
      footer(class="single-job-footer")
        a(href=`${job.link}` target="_blank" class="single-job-apply" rel="noopener") Apply
  
  style.
    .job {
      margin-top: 0 !important;
    }