html
  head
    title PendingJobs - WorkAtRemote.com
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    style.
      body {
        font-family: 'Open Sans', sans-serif;
      }
  body
    h1 Total Jobs: #{jobs.length}
    select#category(name="")
    table
      thead
        tr
          th Title
          th Category
          th Site
          th Link
      tbody
        each job in jobs
          tr
            td #{job.title}
            td #{job.category}
            td #{job.site}
            td
              a(href=`/editJob/${job._id}`) Edit