*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
  font-family: 'Lato', sans-serif;
}

.job{
  border-radius: .5rem;
  background: #fcfcfc;
  padding: 1rem;
}
.job:not(:first-child){
  margin-top: 1rem;
}

.job-image-content{
  display: flex;
}

.job img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.job .job-text {
  margin-left: .5rem;
}

.job-text{
  flex: 1;
}

.job .job-header{
  margin-bottom: 1rem;
}

.job .job-company{
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: rgb(41,47,56, .8);
  margin-bottom: .3rem;
  font-size: .8rem;
}
.job .job-company:hover {
  text-decoration: underline;
}
.job .job-title {
  font-family: 'Fjalla One', sans-serif;
}
.job-title a {
  display: block;
  color: #333;
  text-decoration: none;
}
.job-title a:hover {
  text-decoration: underline;
}
.job h4{
  font-weight: 800;
  font-size: .8rem;
  margin-bottom: .5rem;
  color: rgba(0, 0, 0, .5);
}

.job-keyword{
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
  padding: .2rem .4rem;
  border-radius: .2rem;
  border: 1px solid #93deff;
}
.job-keyword:not(:first-child){
  margin-left: .2rem;
  margin-top: .2rem;
}
a.job-keyword {
  text-decoration: none;
  color: rgba(0, 0, 0, .7);
}
.job-keyword:hover, .job-keyword.active {
  cursor: pointer;
  background: #93deff;
  color: #000;
}

.job .job-preferred {
  align-self: flex-start;
  justify-self: flex-start;
}

.job-head{
  display: flex
}

.job-date {
  font-size: .8rem;
  font-family: 'Fjalla One', sans-serif;
  margin-left: auto;
  font-weight: 600;
  letter-spacing: .05rem;
}

.job-head-bottom{
  margin-top: .3rem;
  font-size: .8rem;
  font-weight: 700;
}

.job-head-bottom ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.job-head-bottom ul li {
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.job-head-bottom b {
  font-weight: 800;
  color: #000;
}

.job-specific-country {
  background: #ff1f5a;
  color: #fff !important;
  font-size: .8rem;
  padding: .3rem;
  border-radius: .2rem;
}

.job-salary {
  background: #a9eca2;
  color: #333;
  font-size: .8rem;
  padding: .3rem;
  border-radius: .2rem;
}

.job footer {
  display: flex;
  align-items: flex-start;
}

.job-keywords{
  flex: 1;
}

.job-description {
  display: none;
}

.job-apply, .single-job-apply{
  text-decoration: none;
  display: block;
  /* visibility: hidden; */
  padding: .5rem 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: .3rem;
  background: #ff1f5a;
  border: 2px solid #ff1f5a;
}

.job:hover .job-apply, .single-job-apply{
  visibility: visible;
}

.back-to-home, .single-job-link {
  align-self: flex-start;
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, .7)
}

.single-job-link {
  align-self: center;
}

.back-to-home:hover, .single-job-link:hover {
  text-decoration: underline;
}

.job-apply:hover, .single-job-apply:hover{
  background: #fff;
  color: #ff1f5a;
}

.job-description {
  padding: 1rem .5rem;
}

.job-toolset {
  display: flex;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1;
}

.single-job-footer {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.single-job-apply {
  width: 50%;
  margin: auto;
}

.main-menu {
  margin: 2rem auto;
  text-align: center;
}

.main-menu ul {
  list-style: none;
}

.main-menu ul li {
  display: inline-block;
  margin-bottom: 1rem;
}

.main-menu ul li:not(:first-child){
  margin-left: 1rem;
}

.main-menu ul li a {
  color: rgba(0, 0, 0, .7);
  text-decoration: none;
  font-weight: bold;
  padding-bottom: .5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0)
}

.main-menu ul li a:hover, .main-menu ul li a.active {
  border-bottom: 3px solid #FF1F5A
}
p {
  line-height: 1.5;
}
.filters{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 1.5rem;
}
.filter {
  background: #fff;
  padding: .3rem .5rem;
  margin-right: .3rem;
  margin-bottom: .3rem;
  border-radius: .5rem;
  color: rgba(0, 0, 0, .7);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: .8rem;
}
.filter:hover {
  background: rgba(0, 0, 0, .7);
  color: #fff;
}

#jobsContainer{
  display: flex;
}

main.wrapper {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
}

aside.sidebar {
  position: sticky;
  flex: 2;
  margin-left: 1rem;
  align-self: flex-start;
  background: #EDFAF3;
  min-width: 25%;
  padding: 1rem;
  border-radius: .5rem;
}

section.container {
  flex: 5;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

header h1 {
  margin: auto;
  margin-top: 4rem;
}

.block-input {
  margin-top: .3rem;
  display: block;
  width: 100%;
  padding: .5rem;
  border: 1px solid #e0e5eb;
  border-radius: .5rem;
}

.newsletter-box {
  margin-top: 2rem;
}

.newsletter-box a{
  color: rgba(0, 0, 0, .7);
  font-size: .8rem;
  display: block;
  margin-left: .2rem;
  margin-top: .2rem;
}

.newsletter-button {
  display: block;
  margin-top: .5rem;
  width: 100%;
  padding: .5rem .5rem;
  border: none;
  border-radius: .3rem;
  font-weight: bold;
  background: #186bff;
  color: #fff;
}

.job-description ul, .job-description-detail ul {
  margin: 1rem;
}

.job-description ul li, .job-description-detail ul li {
  padding-left: 1rem;
}

#email-tags {
  display: none;
}

@media only screen and (max-width: 600px){
  .job footer {
    display: block;
  }
  .job-apply {
    margin-top: 1rem;
  }
  main.wrapper{
    display: block;
    margin: 1rem;
    width: 100%;
  }
  aside.sidebar{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .single-job-apply {
    width: 100%;
  }
}