mixin job(job)
  article(class="job")
    section(class="job-text")
      header(class="job-header")
        a(class="job-company") #{job.company}
        div(class="job-head")
          h3(class="job-title")
            a(href=job.slug class="job-link") #{job.title}
          time(datetime="" class="job-date") #{moment(job.publishedDate).fromNow()}
        div(class="job-head-bottom")
          ul
            if(job.salary)
              li Salary: 
                b(class="job-salary") #{job.salary}
            if(job.timezone)
              li Timezone: 
                b #{job.timezone}
            if(job.experience)
              li Exp: 
                b #{job.experience}
            if(job.degree)
              li Degree: 
                b #{job.degree}
            if(job.country)
              li(class="job-specific-country") #{job.country}
      div(class="job-description")
        | #{job.site}
        if(job.site == 'weworkremotely.com')
          | !{markdown.toHTML(job.description)}
        else
          | !{job.description}
      footer
        section(class="job-keywords")
          - upperCaseTags = tags.map(tag => tag.toUpperCase())
          each tag in job.tags
            if(upperCaseTags.indexOf(tag.toUpperCase()) > -1)
              a.job-keyword.active #{tag}
            else
              - let newTag = tags.concat([tag])
              a.job-keyword(href=`remote-${newTag.join('+')}-jobs`) #{tag}
        a(href=`${job.link}` target="_blank" class="job-apply" rel="noopener") Apply